@model WebApplication7.Models.Person

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.PersonID)

        <div class="form-group">
            @Html.LabelFor(model => model.PersonFirstName,"First Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PersonFirstName, new { htmlAttributes = new { @class = "form-control", required = "required"}})
                @Html.ValidationMessageFor(model => model.PersonFirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PersonLastName,"Last Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PersonLastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PersonLastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PersonDateOfBirth,"Date of Birth", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.PersonDateOfBirth, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PersonDateOfBirth, "", new { @class = "text-danger" })*@
                <input class="form-control" type="date" id="PersonDateOfBirth" name="PersonDateOfBirth" value=@Model.PersonDateOfBirth.Value.ToString("yyyy-MM-dd") required />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PersonGender,"Gender", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @if (ViewBag.gender=="Male")
                {
                    @Html.RadioButtonFor(model => model.PersonGender, "Male", true) @:Male
                    @Html.RadioButtonFor(model => model.PersonGender, "Female", false) @:Female
                 }
                else
                {
                    @Html.RadioButtonFor(model => model.PersonGender, "Male", false) @:Male
                    @Html.RadioButtonFor(model => model.PersonGender, "Female", true) @:Female
                }




            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
