@model IEnumerable<WebApplication7.Models.Person>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
           First Name
        </th>
        <th>
          Last Name
        </th>
        <th>
           Date Of Birth
        </th>
        <th>
           Gender
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PersonFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PersonLastName)
        </td>
        <td>
            
            @item.PersonDateOfBirth.Value.ToShortDateString()
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PersonGender)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PersonID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PersonID })
        </td>
    </tr>
}

</table>
<style>


</style>
